/* styles.css */

/* Base styles for larger screens */
.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .nav-link {
    margin: 2px;
    padding: 7px 14px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
  }
  
  /* Responsive styles for smaller screens */
  @media screen and (max-width: 768px) {
    .flex-container {
      flex-direction: column;
      text-align: center;
    }
  
    .nav-link {
      margin: 5px 0;
    }
  }
  